@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #8E2DE2, #4A00E0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    background: white;
    max-width: 350px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

main h1 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    font-size: 16pt;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(45deg, #8E2DE2, #4A00E0);
    color: white;
}

#counter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}

footer p {
    font-size:10px;
    color: white;
    font-weight: 200;
}

footer p a {
    text-decoration: none;
    color: white;
}